/* MAIN PAGE CONTENT LAPTOP*/
nav ul{
    list-style-type: none;
    margin: 2rem 3rem;
    padding: 0;
  }
  
  nav ul li{
    float: right;
    font-size: 0.8rem;
  }
  
  nav ul li.left{
    float: left;
  }

  nav ul li.menu-icon {
    display: none;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  
  nav ul li.hidden {
    display: none;
  }

  

.footer-container{
    margin: 6rem 3.75rem;
    padding-bottom: 1rem;
}

.footer-content{
    text-align: right;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    line-height: 20%;

}

.footer-credits{
    grid-column: 1 / span 2;
    text-align: left;
}

.footer-email{
    grid-column: 10 / span 1;
    margin-right: 1.5rem;
}

.footer-instagram{
    grid-column: 11 / span 1;
}

.footer-linkedin{
    grid-column: 12 / span 1;
}

.footer-reset{
    grid-column: span 4/ 17;
    grid-row: 1
}



/* MAIN PAGE CONTENT */

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    margin: 10.975rem;
}

.intro{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 20px;
    margin: 3rem 3.75rem 0rem 3.75rem;
}


.intro-text{
    grid-column: span 4;
}

@media (max-width: 2000px){
    .intro-text{
    grid-column: span 6;
    }
}

@media (max-width: 1400px){
    .intro-text{
    grid-column: span 7;
    }
}

.intro-status{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 20px;
    margin: -1rem 3.75rem 5rem 3.75rem;
}

.intro-subtext{
  grid-column: span 3;
}

.projects-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    margin: 1rem 3.75rem 1rem 3.75rem;
}




/* PROJECTS PAGE SoundCloud*/
.project-type{
    margin: 3rem 3.75rem 0 3.75rem; 
}
.project-bottom{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 20px;
    margin: 0 3.75rem; 
    margin-top: -1.5rem;
}

.project-name{
    grid-column: 1 / span 6;
}

.project-side{
    grid-column: 12 / span 5;
}

.project-side{
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(7, 1fr);
}

.project-team{
    grid-column: 1 / span 3;
    margin-top: 2rem;

}

.project-contribution{
    grid-column: 5 / span 4;
    margin-top: 2rem; 
}

.project-img-wide{
    margin: 3rem 3.75rem; 
}

.project-img-zero-margin{
    margin: 2rem 0;
}

.project-img-as{
    margin: 0;
}

.content-container{
    margin: 1rem 3.75rem; 
}

.content-grid{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 20px;
    margin: 6rem 0 4rem 0;
}

.content-grid-zero-margin{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 20px;
    margin: 0;
}

.col-6-right{
    grid-column: 10 / span 6;
}

.col-4-left{
    grid-column: 3 / span 5;
}

.col-6-left{
    grid-column: 2/ span 6;
}

.col-8-left{
    grid-column: 2/ span 8;
}

.col-8-left-span-1{
    grid-column: 2 / span 8;
    margin-top: 3.6rem;
}

.col-5-right{
    grid-column: 11 / span 5;
}

.col-6-right-margin-2{
    grid-column: 10 / span 6;
    margin-top: 2rem;
}


.col-6-right-margin-2 .project-img-wide{
    margin: .75rem 0 0 0;
}

.col-6-right-margin-3{
    grid-column: 10 / span 6;
    margin-top: 3rem;
}


.col-6-right-margin-3 .project-img-wide{
    margin: .75rem 0 0 0;
}

.no-margin{
    margin-top: 1rem;
}


.caption-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 20px;
    margin: 0;
    margin-bottom: 0;
}

.image-caption{
    grid-column: 10 / span 6;
}

.image-caption-as{
    grid-column: 1 / span 18;
    margin: 0;
}

.col-8-left .caption-container{
    margin-bottom: 0.75rem;
}

.col-8-left .image-caption{
    grid-column: 3/ span 6;
}


/* PROJECTS PAGE AS*/

.amsterdam-sinfonietta .project-type{
    margin-top: 6rem;
}
.amsterdam-sinfonietta .project-name{
    grid-column: 1 / span 11;
}

.amsterdam-sinfonietta .project-team{
    margin-top: 1rem;

}

.amsterdam-sinfonietta .project-contribution{
    margin-top: 1rem; 
}

/* CYMHSU AS*/

.cymhsu .project-type{
    margin-top: 6rem;
}
.cymhsu .project-name{
    grid-column: 1 / span 11;
}

.cymhsu .project-team{
    margin-top: 1rem;

}

.cymhsu .project-contribution{
    margin-top: 1rem; 
}



/* About Page */


.about-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.about-left-side{
    grid-column: 3 / span 3;
    margin-top: 15rem;
}

.about-right-side{
    grid-column: 8 / span 3;
    margin-top: 15rem;
}

.about-work{
    margin-top: 2rem;
}

.about-left-side-zero-margin{
    grid-column: 3 / span 3;
    margin-top: 2rem;
}


@media (max-width: 1500px){
    .about-right-side{
        grid-column: 8 / span 4;
        margin-top: 15rem;
    }
}


/* MEDIA QUERIES FOR MOBILE DEVICES */
@media (max-width: 1290px){
/* adjust the headers and font sizes for landing page */
    .intro-text{
        grid-column: span 9;
    }

    .intro-subtext{
        grid-column: span 5;
    }

    .footer-credits {
        grid-column-end: span 5;
    }
}

@media (max-width: 1080px){
    .project-bottom{
        display: block;
        column-gap: 20px;
        margin: 0 3.75rem; 
        margin-top: -1.5rem;
    }

    .project-side {
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(8, 1fr);
    }
    
    .project-team{
        grid-column: 1 / span 2;
        margin-top: 2rem;
    }


    .project-contribution{
        grid-column: 5 / span 2;
        margin-top: 2rem; 
    }
}



@media (max-width: 1000px){
    .content-grid{
        display: block;
        margin: 6rem 0;
    }

    .solution{
        display: block;
        margin: 1rem 3.75rem;
    }

    .demo{
        display: block;
        margin: 1rem 3.75rem;
    }

    .reflection{
        display: block;
        margin: 1rem 3.75rem;
    }

    .content-grid-zero-margin{
        display: block;
        margin: 1rem 3.75rem;
    }
    
}

@media (max-width: 800px){
    .project-team{
        grid-column: 1 / span 3;
        margin-top: 2rem;
    }


    .project-contribution{
        grid-column: 5 / span 3;
        margin-top: 2rem; 
    }
}

@media (max-width: 900px){
    .projects-section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 750px){
    .intro {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .intro-status{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .intro-text{
        grid-column: span 4;
    }

    .intro-subtext{
        grid-column: span 2;
    }
    .caption-container{
        display: block;
    }
}

@media (max-width: 705px){
    .intro-subtext{
        grid-column: span 3;
    }

    .footer-email,
    .footer-instagram,
    .footer-linkedin {
        grid-column: 1;
        text-align: left;
    }

    .footer-reset {
        grid-column-start: span 6;
    }

    .about-container{
        margin: 1rem 3.875rem;
    }
    .about-left-side {
        grid-column: 1 / span 5;
        margin-top: 7rem;
    }
    .about-right-side {
        grid-column: 7 / span 6;
        margin-top: 7rem;
    }
    .about-me{
        margin-top: 3rem;
    }
}


@media (max-width:650px){
    .intro-text{
        grid-column: span 5;
    }
}

@media (max-width: 600px){

    .footer-container{
        margin: 6rem 2.75rem;
        padding-bottom: 1rem;
    }
    nav ul{
        list-style-type: none;
        margin: 2rem 2rem;
        padding: 0;
    }
      
      nav ul li{
        float: right;
        font-size: 0.75rem;
    }

    .content-container {
        margin: 1rem 4rem;
    }
/* 
    .content-grid {
        display: block;
        margin: 6rem 0;
    } */

}

@media (max-width: 570px){
    .projects-section {
        grid-template-columns: repeat(1,1fr);
        margin: 1rem 3.75rem;
    }
}



@media (max-width: 480px){
    .about-container{
        display: flex;
        flex-direction: column;
        margin: 1rem 2.75rem;
        align-items: center;
    }

    .about-img-small img {
        width: 100%;
    }

    .intro-text{
        grid-column: span 6;
    }

    .intro-subtext{
        grid-column: span 4;
    }

}

/* MEDIA QUERIES FOR MOBILE DEVICES */
@media (max-width: 420px){
    nav ul{
        list-style-type: none;
        margin: 2rem 0.875rem;
        padding: 0;
    }

    nav ul li a {
        display: block;
        margin: 0 1rem;
        font-weight: medium;
        font-size: 0.65rem;
    }

    .about-img-small img {
        width: 100%;
    }

    .footer-container {
        margin: 3rem 1.875rem;
        padding-bottom: 1rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        text-align: left;
    }


    .footer-reset {
        order: -1; 
    }

    .footer-email {
        order: 1;
    }


    .container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
        margin: 10.975rem;
    }
    
    .intro{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        margin: 5rem 1.875rem 0rem 1.875rem;
    }
    
    
    .intro-text{
        grid-column: span 1;
    }
    
    .intro-status{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        margin: 0rem 1.875rem 0.5rem 1.875rem;
    }

    .intro-subtext{
      grid-column: span 3;
    }
    
    .projects-section {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 1rem 1.875rem;
    }




    /* PROJECTS INDIVIDUAL PAGE */
    .project-type{
        margin: 3rem 1.875rem 0 1.875rem; 
    }
    .project-bottom{
        display: block;
        column-gap: 20px;
        margin: 0 1.875rem; 
        margin-top: -1.5rem;
    }
    
    .project-side {
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(8, 1fr);
    }
    
    .project-team{
        grid-column: 1 / span 4;
        margin-top: 2rem;
    }


    .project-contribution{
        grid-column: 5 / span 4;
        margin-top: 2rem; 
    }
    .content-container{
        margin: 3rem 1.875rem;
    }

    .content-grid{
        display: block;
        margin: 6rem 0;
    }

    .project-img-wide{
        margin: 3rem 0;
        margin-top: 0;
    }


    .research-quotes h3{
        margin-bottom: 1rem;
    }

    .research-quotes p{
        margin-bottom: 5rem;
    }

    /* ABOUT */
    .about-container{
        display: block;
        margin: 1rem 1.875rem;
    }


    
}